.profile {
  max-width: 100%;
  margin: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile .card {
  margin-top: 20px;
}

.profile .card-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.profile .card-text {
  font-size: 1.2rem;
  text-align: center;
  color: #495057;
}

@media (min-width: 768px) {
  .profile {
    max-width: 400px;
    margin: 0 auto;
  }
}
